MONGO_URL='sua-url-do-mongo'
NODE_ENV='development'
LOG_LEVEL='debug'
JWT_SECRET_KEY='sua-chave-jwt'
COINMARKET_API_KEY='sua-chave-da-api-coinmarketcap'
COINMARKET_API_URL='https://pro-api.coinmarketcap.com'