<html>
    <head>
        <title>Confirme a sua conta</title>
    </head>
    <body>
        <table border="0" cellspacing="0" cellpadding="0" align="center" width="600" style="width: 600; text-align: center;">
            <tr>
                <td align="center"></td>
                <h1>Aioo <%= nome %></h1>
                <p>Seja bem vindo a CryptoTrade!</p>

                <a href="<%= linkDeConfirmacao%>">Clique aqui para confirmar sua conta</a>
            </tr>
        </table>
    </body>
</html>